Flask_Login==0.5.0
APScheduler==3.6.3
feedparser==5.2.1
Werkzeug==1.0.1
httpx==0.13.3
fake_useragent==0.1.11
Flask==1.1.2
gevent==20.6.2
qrcode==6.1
Flask_RESTful==0.3.8
beautifulsoup4==4.9.1
tinydb==4.1.1
lxml==4.5.2
Pillow==7.2.0
