body {
	overflow: hidden;
	font-size:100%;
}

* {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

html,body{
	height:100%;
}

#wrapper {
	color: black;
    border-bottom-style: solid;
    border-width: 1px;
    padding: 5px;
    height: 5%;
    min-height: 70px;
    width: 100%;
}

img.logo {
    position: relative;
    max-height: 50px;
    top: 10px;
    margin-left: 20px;
}

#wrapper ul div {
    float: right;
}

#wrapper ul div i {
    margin-right: 60px;
    margin-top: 10px;
}

#navbtn {
    margin-left: 20px;
}

/* 侧边栏翻页按钮 */
div.nav-bottom  {
	position: fixed;
	bottom: 25px;
	width: 20%;
	text-align: center;
    letter-spacing: 1em;
    margin-left: 20px;
}

/* 文章翻页按钮 */
div.page-bottom  {
	position: fixed;
	bottom: 20px;
	width: 70%;
	text-align: center;
	letter-spacing: 1.5em;
}


#page-wrapper, #navbar{
    padding-bottom: 100px;
    max-height: 1000px;
    float: left;
    overflow-y: auto;
}

#navbar {
	max-width: 25%;
}

#page-wrapper {
    max-width: 75%;
}

/* 在谷歌浏览器中隐藏滚动条 */
#page-wrapper::-webkit-scrollbar { width: 0 !important }
#navbar::-webkit-scrollbar { width: 0 !important }

/* 侧边栏字号、间距 */
#navbar ul li{
    margin-top: 10px;
    font-size: 1.2em;
    padding: 5px;
}


p.feed-title {
    margin: 2px;
    font-weight: 700;
}

p.article-title {
    margin-top: 5px;
    padding-bottom: 8px;
    font-size: 1.4em;
    font-size: 500;
    border-bottom: grey;
    border-bottom-style: solid;
    border-width: 1px;
}
