body {
    overflow: hidden;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
}

html,
body {
    height: 100%;
}

html {
    font-size: 2mm;
}

#wrapper ul{
    color: black;
    border-bottom-style: solid;
    height: 4.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

img.logo {
    position: relative;
    max-height: 3rem;
    top: 0.5rem;
    margin-left: 2rem;
}

#process {
    position: relative;
    font-size: 2.0rem;
    font-weight: 400;
    margin-left: 2rem;
}

#wrapper ul div {
    float: right;
}

#wrapper ul div i {
    margin-right: 1.5rem;
    margin-top: 1rem;
}

/* 文章翻页按钮 */
div.page-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 3.25rem;
    margin: 0.25rem;
    padding-top: 0.5rem;
}

div.page-bottom i{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    top: 4.6rem;
    bottom: 3.25rem;
    position: absolute;
}

#page-wrapper {
    width: 100%;
}


/* 在谷歌浏览器中隐藏滚动条 */
#page-wrapper::-webkit-scrollbar {
    width: 0 !important
}
#navbar::-webkit-scrollbar {
    width: 0 !important
}

.feed-title {
    font-size: 1.15rem;
    font-weight: 600;
}

.feed-date {
    position: relative;
    left: 1.2rem;
    font-size: 1rem;
    font-weight: 550;
}

.feed-wrapper {
    padding: 0.2rem;
    padding-top: 0.5rem;
}

.article-title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
    border-bottom: grey;
    border-bottom-style: solid;
    border-width: 1px;
}

#page-content img {
    max-width: 95%;
}

#page-content>p {
    font-size: 1.3rem;
    margin: 0.5rem;
    line-height: 150%;
}

#qrcode-wrapper {
    display: none;
    width: 600px;
    height: 600px;
}

#qrcode {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    /* 高度的一半 */
    margin-left: -250px;
    /* 宽度的一半 */
}