body {
    overflow: hidden;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

html,
body {
    height: 100%;
}

html {
    font-size: 2mm;
}

#wrapper ul{
    color: black;
    border-bottom-style: solid;
    height: 4.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

img.logo {
    position: relative;
    max-height: 3rem;
    top: 0.5rem;
    margin-left: 2rem;
}

#wrapper ul div {
    float: right;
}

#wrapper ul div i {
    margin-right: 1.5rem;
    margin-top: 1rem;
}

#navbtn {
    margin-left: 2rem;
}


/* 侧边栏翻页按钮 */

div.nav-bottom {
    width: 15rem;
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 2.5rem;
    margin: 0.25rem;
}

div.nav-bottom i{
    padding-left: 2rem;
}

/* 隐藏二级菜单 */
.each-feed {
    display: none;
}

/* 文章翻页按钮 */
div.page-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 2.5rem;
    margin: 0.25rem;
    padding-top: 0.5rem;
}

div.page-bottom i{
    padding-left: 2rem;
}

#page-wrapper,
#navbar {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    top: 4.6rem;
    bottom: 3rem;
    position: absolute;
}

#navbar {
    width: 15rem;
    padding-left: 1rem;
    z-index: 999;
    background-color: white;
}

#page-wrapper {
    width: 100%;
}


/* 在谷歌浏览器中隐藏滚动条 */

#page-wrapper::-webkit-scrollbar {
    width: 0 !important
}

#navbar::-webkit-scrollbar {
    width: 0 !important
}


/* 侧边栏字号、间距 */

#navbar ul li {
    margin-top: 0.25rem;
    font-size: 1.4rem;
    padding: 0.2rem;
}

p.feed-title {
    padding: 0.2rem;
    padding-top: 0.5rem;
    font-weight: 600;
}

p.article-title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
    font-size: 500;
    border-bottom: grey;
    border-bottom-style: solid;
    border-width: 1px;
}

#page-content img {
    max-width: 95%;
}

#page-content>p {
    font-size: 1.1rem;
    margin: 0.5rem;
    line-height: 150%;
}

#qrcode-wrapper {
    display: none;
    width: 600px;
    height: 600px;
}

#qrcode {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    /* 高度的一半 */
    margin-left: -250px;
    /* 宽度的一半 */
}