{% extends "base.html" %} {% block title %}Kinss{% endblock %} {% block body %}

<body>
    <div id="app-root" style="display: block;visibility: visible;">
        <div id="wrapper">
            <ul>
                <a href="/article"><img class="logo" src="static/logo.png" /></a>
                <a id="process"></a>
                <div>
                    <i class="fa fa-star fa-2x article star"></i>
                    <!-- <i class="fa fa-star-o fa-2x"></i> -->
                    <i class="fa fa-square-o fa-2x article read"></i>
                    <!-- fa-check-square-o -->
                    <i class="fa fa-qrcode fa-2x article"></i>
                    <!-- <i class="fa fa-refresh fa-2x"></i> -->
                    <a href="/logout"><i class="fa fa-sign-out fa-2x"></i></a>
                </div>
            </ul>
        </div>

        <div>

            <div id="page-wrapper">
                <div id="page-content" status="main-page">
                    <ul id="items"></ul>
                </div>

                <div class="page-bottom">
                    <i class="fa fa-angle-double-down fa-3x end-btn"></i>
                    <i class="fa fa-angle-double-up fa-3x top-btn"></i>

                    <i class="fa fa-arrow-up fa-3x page-btn-up"></i>
                    <i class="fa fa-arrow-down fa-3x page-btn-down"></i>
                    <i class="fa fa-arrow-right fa-3x next-btn article"></i>
                </div>
            </div>
        </div>
        <div id="qrcode-wrapper"><img id="qrcode"></img></div>

    </div>
    <script src="static/custom.js"></script>
</body>

{% endblock %}